.card {
    width: 100%;
    height: max-content;
    box-shadow: 0 3px 3px white;
    margin: 0 auto;
    text-align: start;
    margin-bottom: 1rem;
    border-radius: 10px;
    background:  #5a11a3;
}



